<div style="background-color: antiquewhite; margin: 10px;">
    <h1 style="text-align: center;">Why choose us</h1>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1" style="margin-top: 20px;">
        <div class="card" style="width: 18rem; margin: 0 auto;">
            <div class="card-body">
                <h5 class="card-title">1</h5>
                <h6 class="card-subtitle mb-2 text-muted">Fresh</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 0 auto;">
            <div class="card-body">
                <h5 class="card-title">2</h5>
                <h6 class="card-subtitle mb-2 text-muted">Cheap</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 0 auto;">
            <div class="card-body">
                <h5 class="card-title">3</h5>
                <h6 class="card-subtitle mb-2 text-muted">Clean</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </div>
    </div>
</div>
<div>
    <h1 style="text-align: center;">Check Our Specials</h1>
    <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, nam?</p>
    <div>
        <div class="row row-cols-3" style="margin: 0 auto">
            <div class="list-group " style="height: 18rem; ">
                <button type="button " class="list-group-item list-group-item-action active " aria-current="true ">
                  The current button
                </button>
                <button type="button " class="list-group-item list-group-item-action ">A second button item</button>
                <button type="button " class="list-group-item list-group-item-action ">A third button item</button>
                <button type="button " class="list-group-item list-group-item-action ">A fourth button item</button>

            </div>
            <div style="height: 18rem; ">
                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
            </div>
            <div style="height: 18rem; ">
                <img src="/assets/carbonara.jpg " style="height: 18rem; ">
            </div>
        </div>
    </div>
</div>